# Terraform state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plan
tfplan
*.tfplan
plan.txt

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log
